{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To-Do List</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
        <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            var trashPic = "{% static 'icons/trash.png' %}";
        </script>
        <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand indigo">Todooo</a>
            <button type="button" class="indigo-button medium-text" data-bs-toggle="modal" data-bs-target="#createModal">Create Task</button>
            </div>
        </nav>
        <div class="container header-section text-center my-4">
            <div class="grand-title">Manage your day with
                <a class="brand indigo">Todooo</a>
            </div>
            <div class="my-4 small-text">
                You have <a class="indigo" id="complete">3</a> completed tasks and <a class="indigo" id="incomplete">1</a> incompleted tasks
            </div>
            <button type="button" class="indigo-button medium-text" data-bs-toggle="modal" data-bs-target="#createModal">Create Task</button>
        </div>
        <div class="container mb-5">
            <div id="tasks" class="row rows-cols-1 row-cols-md-3 g-4 justify-content-center"></div>

            <!-- Modal -->
            <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content indigo-popup">
                    <div class="modal-body">
                        <div class="d-flex justify-content-between modal-header-margin">
                            <h1 class="fs-5 card-header-me" id="createModalLabel">Create New Task</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="">
                            {% csrf_token %}
                            <input class="input-pretty" type="text" placeholder="Name" id="name"><br>
                            <textarea class="input-pretty" name="description" id="description" rows="3" placeholder="Description"></textarea>
                            <div class="d-flex justify-content-end margin-footer">
                                <button type="button" onclick="createTask()" data-bs-dismiss="modal" class="indigo-button">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    </body>
</html>